body {
    background-color: lightgray;
    font-family: 'Courier New', Courier, monospace;
}

img {
    width: 300px;
    height: auto;
}

.Ingredients{
    color: greenyellow;
    background-color: rebeccapurple;
    width: 12em;
}

.Steps {
    color: aqua;
    background-color: rgb(110, 72, 2);
}

h1{
    text-align: center;
}